.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
}

.wrapper.div{
  margin: 50px 50px 50px 50px;
}

.block{
  padding: 10px 30px 30px 30px;
  border: solid #002745;
  border-radius: 25px;
  background: #4a92c9;
  zoom: 150%;
  margin: 20px 20px 20px 20px;

}

.line{
  display: flex;
  flex-direction: row;
  zoom: 125%;
  justify-content: space-between;
}
